* {
  text-rendering: optimizeLegibility;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background: url(../img/new_york_city.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #efefef;
  letter-spacing: 1px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300 !important;
  text-shadow: 2px 2px 1px #6a9179;
}

.my-avatar {
  margin-top: 20%;
  max-width: 180px;
  margin-bottom: 30px;
}

.dev-links {
  margin: 0 10%;
  font-size: 72px;
}

.dev-links a:link,
.dev-links a:visited {
  color: #efefef;
  text-shadow: 2px 2px 1px #6a9179;
}

.dev-links a:hover,
.dev-links a:active {
  color: #6a9179;
  text-shadow: 1px 1px 1px #efefef;
}
